body {
    background: black;
}

a {
    text-decoration: none;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
.topNavBar {}
.topNavBar .logo{
font-family:"Hiragino Kaku Gothic Std";
font-size:22px;
padding-top:1px;
}
.topNavBar .logo .rs{
    color: #e6686a;
    margin-right: 4px;

}
.topNavBar .logo .card{
    color: #9A9DA2;
}
.topNavBar nav{
    font-size: 13px;
    padding-top: 8px;
    padding-top: 8px;

}
.topNavBar nav a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight:  bold;
}
.topNavBar nav ul{
    list-style: none;
    padding: 0px;
    margin:0px;
}
.topNavBar nav ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav ul>li>a{
    border-bottom: 3px solid transparent;

}
.topNavBar nav ul>li>a:hover{
    border-bottom-color:  #DC6465;
}